/* NORMALIZATION */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'League Spartan', sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg);
}
/* THEMES */
.theme-one {
  --main-bg: hsl(222, 26%, 31%);
  --keypad-bg: hsl(223, 31%, 20%);
  --screen-bg: hsl(224, 36%, 15%);
  --alt-key-color: hsl(225, 21%, 49%);
  --alt-key-shadow: hsl(224, 28%, 35%);
  --equal-key-color: hsl(6, 63%, 50%);
  --equal-key-shadow: hsl(6, 70%, 34%);
  --main-key-color: hsl(30, 25%, 89%);
  --main-key-shadow: hsl(28, 16%, 65%);
  --text-color: hsl(221, 14%, 31%);
  --alt-text-color: hsl(0, 0%, 100%);
  --display-text-color: var(--alt-text-color);
}
.theme-two {
  --main-bg: hsl(0, 0%, 90%);
  --keypad-bg: hsl(0, 5%, 81%);
  --screen-bg: hsl(0, 0%, 93%);
  --alt-key-color: hsl(185, 42%, 37%);
  --alt-key-shadow: hsl(185, 58%, 25%);
  --equal-key-color: hsl(25, 98%, 40%);
  --equal-key-shadow: hsl(25, 99%, 27%);
  --main-key-color: hsl(45, 7%, 89%);
  --main-key-shadow: hsl(35, 11%, 61%);
  --text-color: hsl(60, 10%, 19%);
  --alt-text-color: hsl(0, 0%, 100%);
  --display-text-color: var(--text-color);
}
.theme-three {
  --main-bg: hsl(268, 75%, 9%);
  --keypad-bg: hsl(268, 71%, 12%);
  --screen-bg: var(--keypad-bg);
  --alt-key-color: hsl(281, 89%, 26%);
  --alt-key-shadow: hsl(285, 91%, 52%);
  --equal-key-color: hsl(176, 100%, 44%);
  --equal-key-shadow: hsl(177, 92%, 70%);
  --main-key-color: hsl(268, 47%, 21%);
  --main-key-shadow: hsl(290, 70%, 36%);
  --text-color: hsl(52, 100%, 62%);
  --alt-text-color: hsl(0, 0%, 100%);
  --display-text-color: var(--text-color);
}
/* LAYOUT */
.container {
  width: 90%;
  max-width: 540px;
  min-width: 375px;
  color: var(--display-text-color);
  user-select: none;
}
header {
  display: flex;
  justify-content: space-between;
}

/* COMPONENTS */
/* 1. Controls Component  */
.controls {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 25%;
}
.switch-board {
  background-color: var(--keypad-bg);
  width: 60px;
  height: 20px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.switch {
  width: 15px;
  height: 15px;
  background-color: var(--equal-key-color);
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 7.5px);
  left: 8%;
}
.theme-two .switch {
  left: 39%;
}
.theme-three .switch {
  left: 70%;
}
.control-text {
  position: absolute;
  transform: translate(7px, -17px);
}
/* 2. Display */
.display {
  width: 100%;
  height: 100px;
  background-color: var(--screen-bg);
  margin-top: 30px;
  border-radius: 10px;
  text-align: right;
  padding: 2rem;
}
#calculation {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
/* 3. Keypad */
.keypad {
  width: 100%;
  height: 350px;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 10px;
  background-color: var(--keypad-bg);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 15px;
}
.key {
  height: 100%;
  background-color: var(--main-key-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 0 3px 2px var(--main-key-shadow);
  cursor: pointer;
  transition: filter 250ms ease-in-out, transform 150ms linear, box-shadow 150ms linear;
}
.alt-key {
  color: var(--alt-text-color);
  background-color: var(--alt-key-color);
  box-shadow: 0 3px 2px var(--alt-key-shadow);
}
.equal-key {
  color: var(--alt-text-color);
  background-color: var(--equal-key-color);
  box-shadow: 0 3px 2px var(--equal-key-shadow);
}
.key:hover, .switch:hover {
  filter: brightness(1.3);
}
.key:active {
  transform: translateY(2px);
  box-shadow: 0 1px 2px var(--main-key-shadow);
}
.alt-key:active {
  box-shadow: 0 1px 2px var(--alt-key-shadow);
}
.equal-key:active {
  box-shadow: 0 3px 2px var(--equal-key-shadow);
}
/* UTILITY CLASSES  */
.small-text {
  text-transform: uppercase;
  font-size: 1.2rem;
}
.large-key {
  grid-column: span 2;
}